<!DOCTYPE html>
<html>

<head>
    <title>Product List</title>
</head>

<body>

    <h1>Products</h1>

    {% for product in products %}
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <h2>
            <a href="{{ product.get_absolute_url }}">
                {{ product.title }}
            </a>
        </h2>
        <p>{{ product.price }} $</p>
        <p>{{ product.category.name }}</p>
    </div>
    {% empty %}
    <p>No products found</p>
    {% endfor %}

</body>

<hr>

<div>

    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>

    <a href="?page={{ page_obj.previous_page_number }}">
        Previous
    </a>
    {% endif %}

    <span>
        Page {{ page_obj.number }}
        of
        {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">
        Next
    </a>

    <a href="?page={{ page_obj.paginator.num_pages }}">
        Last
    </a>
    {% endif %}

</div>

</html>