<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


{% if messages %}

    <script>

        {% for message in messages %}

            Toastify({

                text: "{{ message }}",

                duration: 3000,

                close: true,

                gravity: "top",

                position: "right",

            }).showToast();

        {% endfor %}

    </script>

{% endif %}


